body{
    background-color: rgb(129, 109, 81);
    text-align: center;
    direction: rtl;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.li{
    border-radius: 10px;
    box-shadow:10px 5px 6px  rgb(70, 53, 37);
    margin: 10px;
    background-color: rgb(198, 154, 113);
    border-style: solid;
    border-color: rgb(134, 104, 76);
    padding: 10px;
    margin-inline: 50px;
}
.img{
    width: 500px;
    height: 400px;
    margin: 50px;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}